
.root{
    -fx-background-color: transparent !important;
}


/* Definición del panel con efecto de cristal */
.glass-panel {
    
    -fx-background-color: rgba(30, 30, 30, 0.911);
    
    /* Bordes redondeados como en tu imagen */
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    
    /* Un borde sutil para que resalte */
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-width: 1;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 15, 0, 0, 10);
    -fx-padding: 0;
}

/* Opcional: Hacer que los textos sean blancos para que se lean mejor */
.label {
    -fx-text-fill: #4a4a4a;
    -fx-font-family: "Segoe UI", sans-serif;
}

.slide-label{
    -fx-text-fill: #B39DDB;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: "bold";
}



/* Contenedor de las píldoras (Izquierda y Derecha) */
.pill-box {

    

    -fx-background-color: #B39DDB; /* Ese tono gris claro/lila de tu imagen */
    -fx-background-radius: 50;
    -fx-padding: 0 15 0 15; /* Espaciado interno: Arriba, Derecha, Abajo, Izquierda */
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-min-height: 40;
    -fx-max-height: 40;
}

/* Para que los botones dentro de la píldora no tengan su propio fondo cuadrado */
.pill-button {
    -fx-background-color: transparent;
    -fx-text-fill: #4a4a4a; /* Color del texto gris oscuro */
    -fx-cursor: hand;
    -fx-font-weight: bold;
    
}

/* Efecto al pasar el ratón por encima de los botones */
.pill-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.05);
    -fx-background-radius: 20;
}

.search-pill {
    
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-background-color: #B39DDB;
    -fx-border-color: transparent; /* Quita el borde por defecto */
}

.player-bar {
    -fx-background-color: #B39DDB; /* Gris lila semitransparente */
    -fx-background-radius: 25;
    -fx-padding: 15 30 15 30;
    -fx-alignment: CENTER;
    -fx-min-height: 100;
}

.player-slider .track {
    -fx-pref-height: 4px;
    -fx-background-radius: 5;
    -fx-border-color: transparent;
}

/* Tu bolita morada */
.player-slider .thumb {
    -fx-background-color: #B39DDB;
    -fx-padding: 6;
}


