spring.application.name=808wave-server

spring.datasource.url=jdbc:postgresql://localhost:5433/wave808_db
spring.datasource.username=CAMBIAR!!!!
spring.datasource.password=CAMBIAR!!!!
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

spring.jpa.hibernate.ddl-auto=update

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true


#rutas almacenamiento
file.upload-dir=storage/audios

playlist.cover-dir=storage/playlist-covers
profile.picture-dir=storage/profile-pictures

#limite de tamaño de archivo
spring.servlet.multipart.max-file-size=100MB
spring.servlet.multipart.max-request-size=100MB